

/* ! para el boton de seleccionar archivo */
.file-niko {
    padding: 6px;
    width: 100%;
    border-radius: .25rem;
    color: aliceblue;
    border-color: aliceblue;
    background-color: #6c757d;
}
.file-niko:hover {
    color: #fff;
    color: aliceblue;
    background-color: #709078;
}

