.img.cont{
    height: 20rem;
    width: 20rem;

}

.img-profile {

    color: #181818;
    top: 3%;
    right: 2%;
    font-size: 50px;
    height: 20rem;
    width: 2.¿0rem;
    max-width: 25rem;
    max-width: 25rem;
}

