.img.cont{
    height: 25rem;
    width: 25rem;

}

.img-profile {

    color: #181818;
    top: 3%;
    right: 2%;
    font-size: 50px;
    height: 25rem;
    width: 25rem;
    max-width: 25rem;
    max-width: 25rem;
}
