.file-niko {
    text-align: center;
    padding: 6px;
    width: 100%;
    border-radius: .25rem;
    color: aliceblue;
    border-color: rgb(56, 119, 98);
    background-color: #587850;
}
.file-niko:hover {
    color: aliceblue;
    background-color: #709078;
}

